@import '../../sass/_variables.scss';
@media (min-width:993px){
    header{
    background:$primary;
    position: fixed;
    width:100%;
    transition:0.2s;
    z-index: 1;
    box-shadow: 0 0px 11px black;
    .nav{transform:translate(0px) !important}
    .close,.open{
        display:none;
    }
    ul{
        display: -webkit-inline-box;
        color:white;
        list-style: none;
        margin-left: 50%;
        transform: translate(-50%);
        a{
            display: list-item;
            padding:15px 40px;
            cursor: pointer;
            text-align:center;
            text-transform: capitalize;
            transition: background 0.4s;
            text-decoration: none;
            color:inherit;
            &:hover{
                color:$primaryHighlightColor;
                background:$primaryHighlightBackground;
            }
        }
    }
}
.open{
    display:none;
}
}

@media (max-width:992px){
    .nav{
        position:fixed;
        width:250px;
        height:100%;
        padding-top:100px;
        z-index:2;
        background:$primary;
        box-shadow: 0 0px 11px black;
        transition: 0.3s;
        transform: translate(-300px);
        .close{
            display:block;
            position: absolute;
            top:20px;
            right:20px;
            color:white;
            font-size:20px;
            &:hover{
                color:$secondary;
            }
        }
        ul{
            width:100%;
            display:block;
            color:white;
            list-style: none;
            a{
                display: list-item;
                cursor: pointer;
                text-decoration:none;
                text-transform: capitalize;
                transition: background 0.4s;
                color:inherit;
                &:hover{
                    color:$primaryHighlightColor;
                    background:$primaryHighlightBackground;
                }
                text-align:initial;
                padding:15px 20px 15px 20px;
            }
        }
    }
    .open{
        position: fixed;
        z-index: 2;
        top:10px;
        left:30px;
        color:white;
        font-size:30px;
        cursor: pointer;
        &:hover{
            color:$secondary;
        }
    }
}
