<div class="alternateBoxes" *ngIf="subjects">
    <div class="area">
      <div class="box animate delay-animation" *ngFor="let i of subjects">
          <div class="box-area">
              <div class="header">
                <div>
                    {{i.name}}
                </div>
                <div>
                  <small *ngIf="i.date">{{ i.date }}</small>
                </div>
              </div>
              <div class="body">
                <h4>
                  {{ i.title }}
                </h4>
                <p>
                    {{ i.description }}
                </p>
                <ul>
                  <li *ngFor="let point of i.points">
                      {{ point }}
                  </li>
                </ul>
              </div>
            </div>
      </div>
      </div>
  </div>