@import './variables';
@import './mixins';
*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
body{
    background:#fafafa;
}

// Scrollbar
::-webkit-scrollbar{
    background:none;
    height:2px;
    width:5px;
    background:transparent;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    background-color: $secondary;
    box-shadow: inset 0 0 1px black;
  }

//   animations
@keyframes scaleToLarge{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.scaleToLarge{
    animation-name:scaleToLarge;
}
@keyframes slideInDown{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}
.slideInDown{
    animation-name:slideInDown;
}

@keyframes slideInUp{
    from{
        transform: translateY(+50px)
    }
    to{
        opacity:1;
        transform: translateY(0px)
    }
}
.slideInUp{
    animation-name:slideInUp;
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      transform: translate3d(0,-4px,0);
    }
  }
  .bounce{
    animation-name:bounce;
  }

  @keyframes slideUp {
    from {
      transform: translate3d(0, 100%, 0);
      opacity:0;
    }
  
    to {
      transform: translate3d(0, 0, 0);
     opacity:1;
    }
  }
  .slideUp{
    animation-name:slideUp;
    animation-fill-mode: forwards;
  }
.animate{
    -webkit-animation-duration:0.5s;
    -webkit-animation-timing-function: ease-in;
}
.delay{
    -webkit-animation-delay:0.5s;
}
.delay-animation{
    opacity:0;
}
// end of animations