<div class="alternateBoxes">
  <div class='title'>
    Projects
  </div>
  <div class="area">
    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>

    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>





    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>
    <div class="box-area animate slideInUp">
        <div class="box">
            <div class="header">
                Chief Project Manager
            </div>
            <div class="body">
              <h4>
                alaksj  
              </h4>
              <h4>
                anam
              </h4>
              <p>
                  lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
    </div>
    </div>
</div>