<app-title [title]="'Contact me'" id="contact"></app-title>

<div class="contact animate  delay-animation">
  <div class="contact-details">
    <div class="item">
        <i class="fas fa-phone"></i>
        <div>
          +91 9630 394 300
        </div>
    </div>
    <div class="item">
        <i class="fas fa-envelope"></i>
        <div>
          ag.akash007@gmail.com
        </div>
    </div>
    <div class="item">
        <i class="fas fa-globe"></i>
        <div>
            https://github.com/akash-gupta-146
        </div>
    </div>
    <div class="item">
        <i class="fas fa-map-marker-alt"></i>
        <div>
            123, Rajved Colony, Kolar Road <br>Bhopal, Madhya Pradesh 462001
        </div>
    </div>
  </div>
  <div class="contact-me">
    <div class="item">
      <input type="text" id="name" name="name" placeholder="name">
      <label for="name">Name</label>
    </div>
    <div class="item">
        <input type="text" id="subject" name="subject" placeholder="Subject">
        <label for="subject">Subject</label>
      </div>
    <div class="item">
        <input type="text" id="email" name="email" placeholder="name">
        <label for="email">Email</label>
      </div>
      <div class="item">
        <textarea row="3" placeholder="message"></textarea>
        <label for="message">Message</label>
      </div>
        <a>Send</a>
  </div>
</div>
<div class="map-card">
      <div id="map" class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.581589972203!2d77.14828101541798!3d28.70216028239042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDQyJzA3LjgiTiA3N8KwMDknMDEuNyJF!5e0!3m2!1sen!2sin!4v1522869911360" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="address">
        120 Block QP, Pitampura, New Delhi, 110034
      </div>
</div>