<app-title [title]="'Contact me'"></app-title>

<div class="contact">
  <div class="contact-details">
    <div class="item">
        <i class="fas fa-phone"></i>
        <div>
          +91 9630 394 300
        </div>
    </div>
    <div class="item">
        <i class="fas fa-envelope"></i>
        <div>
          ag.akash007@gmail.com
        </div>
    </div>
    <div class="item">
        <i class="fas fa-globe"></i>
        <div>
            https://github.com/akash-gupta-146
        </div>
    </div>
    <div class="item">
        <i class="fas fa-map-marker-alt"></i>
        <div>
            123, Rajved Colony, Kolar Road <br>Bhopal, Madhya Pradesh 462001
        </div>
    </div>
  </div>
  <div class="contact-me">
    <div class="item">
      <input type="text" id="name" name="name" placeholder="name">
      <label for="name">Name</label>
    </div>
    <div class="item">
        <input type="text" id="subject" name="subject" placeholder="Subject">
        <label for="subject">Subject</label>
      </div>
    <div class="item">
        <input type="text" id="email" name="email" placeholder="name">
        <label for="email">Email</label>
      </div>
      <div class="item">
        <textarea row="3" placeholder="message"></textarea>
        <label for="message">Message</label>
      </div>
        <a>Send</a>
  </div>
</div>
<div class="map-card">
      <div id="map" class="map">

      </div>
</div>