@import '../../sass/_variables.scss';
.boxes{    
    margin-top:40px;
    padding:0 10%;
    .title{
        text-align:center;
        font-size:26px;
        color:$primary;
        margin:10px;
        text-transform:uppercase;
    }
    .container{
        display:flex;
        .box{
            background:$primary;
            width:30%;
            margin:0 20px;
            padding:40px 30px 30px 30px;
            color:$primaryText;
            .title{
                color:$primaryText;
            }
            .values{
                display:flex;
                flex-direction: column;
                .text{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            .graph{
                position:relative;
                height:3px;
                background:black;
                margin:20px 0;
                .progress{
                    position: absolute;
                    left:0px;
                    height:3px;
                    width:0%;
                    background:$primaryText;
                    transition:0.3s ease-in-out;
                    animation-name:graphValue;
                    &:after{
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: white;
                        right: -20px;
                        top: -10px;
                    }
                }
            }
        }
    }
}

@media (max-width:850px){
    .container{
        flex-wrap:wrap;
        .box{
            margin:10px 20px !important;;
            width:initial !important;
        }
    }
}
@media (max-width:768px){
    .container{
        flex-direction:column;
        .box{
            margin:10px 20px !important;;
            width:initial !important;
        }
    }
}