<app-title [title]='"Portfolios"' id="portfolio" *ngIf="portfolios"></app-title>
<div class="gallary" *ngIf="categories && portfolios">
  <div class="navigator">
    <ul>
      <li (click)="setCategory('all')" [class.active]="currentCategory == 'all'">
        All
      </li>
      <li *ngFor="let cat of categories" (click)="setCategory(cat)" [class.active]="currentCategory == cat">
        {{ cat }}
      </li>
    </ul>
  </div>
  <div class="selector" *ngIf="portfolios">
    <div></div>
    <ng-container  *ngFor="let portfolio of portfolios">
    <div class="item animate  delay-animation" *ngIf="portfolio.category == currentCategory || currentCategory == 'all'">
      <div>
          <div class="img" (click)="openModal(portfolio)">
              <img [src]="portfolio.thumbnail">
          </div>
          
          <div class="title">
          {{ portfolio.title }}
            </div>
        </div>
      </div>
    </ng-container>
    <div></div>

  </div>
</div>

<app-modal [portfolio]="currentPortfolio" class="modal"></app-modal>